.cont{
  background: rgb(83, 161, 188);
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns:  50px repeat(8,minmax(100,1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, auto));
 
}

.header{
  grid-row:1/2;
  color: white;
  grid-column:5/6 ;
  font-size: larger;
  justify-self: start;
 
}


.q{
  background: rgb(239, 239, 173);
  grid-column: 2 / 9;
  grid-row:3/-1;
  max-width: 90%;
  justify-self: center;
}